<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find custom_control)/config/custom_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="my_cartesian_motion_controller"/>
    <!-- <remap from="/rosout" to="/ros_out_test" /> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" /> -->
</launch>
